{
  "openapi": "3.0.3",
  "info": {
    "title": "Freeports API (Mintlify-compatible subset)",
    "version": "1.0.0",
    "description": "A cleaned subset of 10 endpoints derived from the Freeports spec and generated API docs artifacts. Schemas were simplified to make the file valid for strict OpenAPI consumers such as Mintlify. Exact path names should be re-verified against the backend before production use."
  },
  "servers": [
    {
      "url": "https://development.freeports.io",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "client-fund"
    },
    {
      "name": "authentication"
    },
    {
      "name": "test"
    },
    {
      "name": "user-my-profile"
    },
    {
      "name": "permission"
    },
    {
      "name": "sumsub"
    },
    {
      "name": "transaction-deposit"
    },
    {
      "name": "transaction-withdrawal"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ExceptionDto": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 400
          },
          "message": {
            "type": "string",
            "example": "Validation error"
          },
          "error": {
            "type": "string",
            "example": "Bad Request"
          }
        }
      },
      "TransferFundRequestDto": {
        "type": "object",
        "required": [
          "amount",
          "asset"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "example": 1000
          },
          "asset": {
            "type": "string",
            "example": "USD"
          },
          "fromAccountId": {
            "type": "string",
            "example": "acc_123"
          },
          "toAccountId": {
            "type": "string",
            "example": "acc_456"
          }
        }
      },
      "RequestFundResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "req_fund_123"
          },
          "status": {
            "type": "string",
            "example": "done"
          },
          "amount": {
            "type": "number",
            "example": 1000
          },
          "asset": {
            "type": "string",
            "example": "USD"
          }
        }
      },
      "PaginationRequestFundResponseDto": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequestFundResponseDto"
            }
          },
          "page": {
            "type": "integer",
            "example": 0
          },
          "limit": {
            "type": "integer",
            "example": 20
          },
          "total": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "ValidateTokenResponseDto": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean",
            "example": true
          },
          "userId": {
            "type": "string",
            "example": "usr_123"
          }
        }
      },
      "RevokeOtpSecretResponseDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "TestResponseDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          }
        }
      },
      "BrokerRfqRequestDto": {
        "type": "object",
        "required": [
          "symbol",
          "side",
          "quantity"
        ],
        "properties": {
          "symbol": {
            "type": "string",
            "example": "BTC-USD"
          },
          "side": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ],
            "example": "buy"
          },
          "quantity": {
            "type": "number",
            "example": 1.5
          }
        }
      },
      "BrokerRfqResponseDto": {
        "type": "object",
        "properties": {
          "quoteEntryId": {
            "type": "string",
            "example": "quote_123"
          },
          "price": {
            "type": "number",
            "example": 64000.12
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BrokerOrderRequestDto": {
        "type": "object",
        "required": [
          "quoteEntryId",
          "quantity"
        ],
        "properties": {
          "quoteEntryId": {
            "type": "string",
            "example": "quote_123"
          },
          "quantity": {
            "type": "number",
            "example": 1.5
          }
        }
      },
      "BrokerOrderResponseDto": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "example": "ord_123"
          },
          "status": {
            "type": "string",
            "example": "processing"
          }
        }
      },
      "ProfileResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "usr_123"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "firstName": {
            "type": "string",
            "example": "Kate"
          },
          "lastName": {
            "type": "string",
            "example": "Ievitchenko"
          }
        }
      },
      "PermissionResponseDto": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "desk.read",
              "desk.write"
            ]
          }
        }
      },
      "GenerateAccessTokenResponseDto": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "sumsub_token_123"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateDepositRequestDto": {
        "type": "object",
        "required": [
          "amount",
          "asset"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "example": 100
          },
          "asset": {
            "type": "string",
            "example": "USDC"
          },
          "walletAddress": {
            "type": "string",
            "example": "0x123..."
          }
        }
      },
      "TransactionResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "txn_123"
          },
          "status": {
            "type": "string",
            "example": "created"
          },
          "amount": {
            "type": "number",
            "example": 100
          },
          "asset": {
            "type": "string",
            "example": "USDC"
          }
        }
      },
      "ResetWithdrawalRequestDto": {
        "type": "object",
        "required": [
          "transactionId"
        ],
        "properties": {
          "transactionId": {
            "type": "string",
            "example": "txn_123"
          }
        }
      }
    }
  },
  "paths": {
    "/api/v1/client/request/fund": {
      "post": {
        "tags": [
          "client-fund"
        ],
        "summary": "Transfer funds from current account to trading account (client funding)",
        "operationId": "RequestMyController_transferFund",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferFundRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fund transfer completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestFundResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionDto"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "client-fund"
        ],
        "summary": "Get own fund requests (client)",
        "operationId": "RequestMyController_getRequestFunds",
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "history",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund requests list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationRequestFundResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/validate-token": {
      "get": {
        "tags": [
          "authentication"
        ],
        "summary": "Validate token",
        "operationId": "AuthenticationController_validateToken",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateTokenResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/revoke-otp-secret": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Revoke OTP secret",
        "operationId": "AuthenticationController_revokeOtpSecret",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OTP secret revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeOtpSecretResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test": {
      "get": {
        "tags": [
          "test"
        ],
        "summary": "Get test",
        "operationId": "TestController_getTest",
        "responses": {
          "200": {
            "description": "Test response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test/broker/rfq": {
      "post": {
        "tags": [
          "test"
        ],
        "summary": "Request a quote from a broker",
        "operationId": "TestController_brokerRfq",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrokerRfqRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broker quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerRfqResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test/broker/order": {
      "post": {
        "tags": [
          "test"
        ],
        "summary": "Place an order with a broker using a previous RFQ",
        "operationId": "TestController_brokerOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrokerOrderRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broker order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerOrderResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/my/profile": {
      "get": {
        "tags": [
          "user-my-profile"
        ],
        "summary": "Get profile",
        "operationId": "UserMyProfileController_getProfile",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/permission/desk": {
      "get": {
        "tags": [
          "permission"
        ],
        "summary": "Get permission desk",
        "operationId": "PermissionController_getPermissionDesk",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Desk permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/subscriptions/client/sumsub/access-token": {
      "post": {
        "tags": [
          "sumsub"
        ],
        "summary": "Generate access token",
        "operationId": "SubscriptionsClientSumsubController_generateAccessToken",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Access token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAccessTokenResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transaction/deposit": {
      "post": {
        "tags": [
          "transaction-deposit"
        ],
        "summary": "Create deposit",
        "operationId": "TransactionDepositController_createDeposit",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepositRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deposit transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transaction/withdrawal/reset": {
      "post": {
        "tags": [
          "transaction-withdrawal"
        ],
        "summary": "Reset withdrawal",
        "operationId": "TransactionWithdrawalController_resetWithdrawal",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetWithdrawalRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal reset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponseDto"
                }
              }
            }
          }
        }
      }
    }
  }
}
